<?xml version='1.0' encoding='utf-8'?>
<widget id="com.connarstone.sstrt" version="1.0.0" versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SSTRT</name>
    <description>Start Stop Team Relay Timer records contestant times for team relay running. Initially built for the benefit of the Notheastern Oregon Elkhorn Relay.</description>
    <author email="stonec2@eou.edu" href="https://github.com/tarstarkes">Connar Stone</author>
    <!-- <feature name="http://api.phonegap.com/1.0/battery" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/contacts" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/media" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/notification" />
    <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="false" />
    <preference name="stay-in-webview" value="true" />
    <preference name="ios-statusbarstyle" value="default" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="FadeSplashScreen " value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="TopActivityIndicator" value="white" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="KeyboardShrinksView " value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="windows-identity-name" value="" />
    <preference name="android-installLocation" value="auto" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="ErrorUrl" value="null" />
    <preference name="BackgroundColor" value="0x000000" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="LoadingDialog" value="," />
    <preference name="LoadUrlTimeoutValue" value="null" /> -->
    <platform name="ios">
        <!-- <icon height="57" src="/www/img/logos/SSTRT_57.png" width="57" />
        <icon height="144" src="/www/img/logos/SSTRT144.png" width="144" />
        <icon height="72" src="/www/img/logos/SSTRT_72.png" width="72" />
        <icon height="114" src="/www/img/logos/SSTRT_114.png" width="114" />
        <icon height="60" src="/www/img/logos/SSTRT_60.png" width="60" />
        <icon height="120" src="/www/img/logos/SSTRT_120.png" width="120" />
        <icon height="180" src="/www/img/logos/SSTRT_180.png" width="180" />
        <icon height="76" src="/www/img/logos/SSTRT_76.png" width="76" />
        <icon height="152" src="/www/img/logos/SSTRT_152.png" width="152" />
        <splash height="2208" src="/www/img/logos/SSTRT_SPLASH_1242x2208.png" width="1242" />
        <splash height="1334" src="/www/img/logos/SSTRT_SPLASH_750x1334.png" width="750" />
        <splash height="1136" src="/www/img/logos/SSTRT_SPLASH_640x1136.png" width="640" />
        <splash height="960" src="/www/img/logos/SSTRT_SPLASH_640x960.png" width="640" />
        <splash height="480" src="/www/img/logos/SSTRT_SPLASH_320x480.png" width="320" /> -->
    </platform>
    <platform name="android">
        <!-- <icon qualifier="ldpi" src="/www/img/logos/SSTRT_36.png" />
        <icon qualifier="mdpi" src="/www/img/logos/SSTRT_48.png" />
        <icon qualifier="hdpi" src="/www/img/logos/SSTRT_72.png" />
        <icon qualifier="xhdpi" src="/www/img/logos/SSTRT_96.png" />
        <icon qualifier="xxhdpi" src="/www/img/logos/SSTRT144.png" />
        <icon qualifier="xxxhdpi" src="/www/img/logos/SSTRT_192.png" />
        <splash qualifier="" src="./www/img/logos/SSTRT_SPLASH_240X320.png" />
        <splash qualifier="" src="./www/img/logos/SSTRT_SPLASH_320x480.png" />
        <splash qualifier="" src="./www/img/logos/SSTRT_SPLASH_420x800.png" />
        <splash qualifier="" src="./www/img/logos/SSTRT_SPLASH_720x1280.png" />
        <splash qualifier="" src="./www/img/logos/SSTRT_SPLASH_960x1600.png" />
        <splash qualifier="" src="./www/img/logos/SSTRT_SPLASH_1280x1920.png" /> -->
    </platform>
    <platform name="winphone">
    </platform>
<!--     <icon src="icon.png" /> -->
    <plugin name="cordova-plugin-file" spec="~4.3.3" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />
</widget>
