body{
	margin: 0;
}
.footer{
	position:absolute;
	bottom:0;
}
.menu_button{
	width: 25%;
	position:relative;
	text-align:center;
	border: 1px solid black;
	padding:2vw;
	height:8vw;
	font-size: 4vw;
	color:white;
	background: black;
}
